PORT=4001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql://user:password@host/database

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d

CSRF_SECRET=your_csrf_secret_here

BREVO_API_KEY=your_brevo_api_key_here

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email_username_here
EMAIL_PASSWORD=your_email_password_here

# EMAIL_HOST=localhost
# EMAIL_PORT=1025
# EMAIL_USERNAME=default
# EMAIL_PASSWORD=default123

REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password_here
REDIS_HOST=your_redis_host_here
REDIS_PORT=12198

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:4001/auth/google/callback
GOOGLE_CALLBACK_LINK_URL=http://localhost:4001/auth/google/link/callback

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

GNEWS_API_KEY=your_gnews_api_key_here

SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=your_swagger_password_here